@page
@model IndexModel
@{
    ViewData["Title"] = "Sign In";
    ViewData["HideLayout"] = true;
}

<link rel="stylesheet" href="~/css/login.css" />

<div class="login-container">
    <a href="index.html">
        <img src="~/images/iphone.png" alt="ShelfSync Cloud Logo" class="logo">
    </a>
    <form id="loginForm" method="post" asp-page-handler="Login">
        <input asp-for="Username" placeholder="Username" required>
        <input asp-for="Password" placeholder="Password" required>
        <button type="submit" class="cta-button">Login</button>
    </form>
</div>
