@page
@model SettingsModel
@{
    ViewData["Title"] = "Settings";
}

<br>
<form method="post">
    <div class="settings-content">
        <div class="setting-item">
            <label for="username">Username:</label>
            <input asp-for="Username" class="line-input" placeholder="Enter new username" value="@Model.Username">
        </div>
        <div class="setting-item">
            <label for="password">Password:</label>
            <input asp-for="Password" class="line-input" placeholder="Enter new password">
        </div>
        <div class="setting-buttons">
            <button type="submit" class="action-button">Save Changes</button>
            <br>
            <button class="action-button">Logout</button>
        </div>
    </div>
</form>

@if (Model.SaveMessage != null)
{
    <div class="save-message">@Model.SaveMessage</div>
}
        
